<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
		<p><b>Latest update:</b></p>
          <div id="gcb-container">
	    <script type="text/javascript">
		Badges = [
			{ "username": "m64p",       "repo": "mupen64plus-GLideN64",  "branch": "master" }
		];
	    </script>
	    <script type="text/javascript" src="js/gcb.js"></script>
          </div>

          <p><b>Download Binary Builds:</b><br><br>
            <a href="https://s3.amazonaws.com/m64p/m64p/mupen64plus-GLideN64-win32.zip">Windows 32-bit</a><br><br>
            <a href="https://s3.amazonaws.com/m64p/m64p/mupen64plus-GLideN64-win64.zip">Windows 64-bit</a><br><br>
            <a href="https://s3.amazonaws.com/m64p/m64p/mupen64plus-GLideN64-Ubuntu.zip">Ubuntu 64-bit</a><br><br>
            <a href="https://s3.amazonaws.com/m64p/m64p/mupen64plus-GLideN64-linux64.zip">Other Linux 64-bit</a></p>
          <!--<p><b><a href="https://m64p.github.io/changelog.txt">Changelog</a></b></p>-->
        </aside>
      </div>
    </div>
  </body>
</html>
